# .gitignore for the project root

### IDE ###
# Ignores configuration folders for common editors.
# These are created at the project root to manage the whole project.
.idea/
.vscode/
.settings/
.classpath
.project

### Operating System ###
# Ignore files created by macOS and Windows.
.DS_Store
Thumbs.db

### General ###
# Ignore common log files that could be generated anywhere.
*.log
npm-debug.log*

# Ignore local environment variables.
.env